In [4]:
import pymysql
import pandas as pd
import sqlalchemy as sqa

# データの抽出

In [6]:
conn=pymysql.connect(
    user="root",
    passwd="asahi724",
    host="localhost",
    db="record"
)

In [7]:
cur=conn.cursor()

In [9]:
sql="""
    SELECT 
        * 
    FROM 
        rohini_1016; 
    """

#cur.execute(sql)

cur.execute(sql)
rows = cur.fetchall()

In [10]:
pd.DataFrame(rows, columns=["value", "time"])

      value                 time
0      50.0  2019-07-19 00:00:00
1      55.0  2019-07-19 01:00:00
2      41.0  2019-07-19 02:00:00
3      42.0  2019-07-19 03:00:00
4      33.0  2019-07-19 04:00:00
...     ...                  ...
1771   83.0  2019-09-30 19:00:00
1772  119.0  2019-09-30 20:00:00
1773   62.0  2019-09-30 21:00:00
1774   48.0  2019-09-30 22:00:00
1775   41.0  2019-09-30 23:00:00

[1776 rows x 2 columns]

In [35]:
cur.close()
conn.close()

 # データフレーム の保存

In [13]:
df=pd.read_csv("/Users/masanoritakahashi/Documents/aqi/modefieddata/rohini_1016.csv").iloc[:,1:]

In [15]:
df.head()

   rohini           local_time
0    50.0  2019-07-19 00:00:00
1    55.0  2019-07-19 01:00:00
2    41.0  2019-07-19 02:00:00
3    42.0  2019-07-19 03:00:00
4    33.0  2019-07-19 04:00:00

In [20]:
conn=pymysql.connect(
    user="root",
    passwd="asahi724",
    host="localhost",
    db="record"
)

In [21]:
cur=conn.cursor()

In [28]:
url="mysql+pymysql://root:asahi724@localhost/record?charset=utf8"
enngie=sqa.create_engine(url, echo=True)
df.to_sql("rohini_1016", url, index=None)

In [36]:
conn.close()

Error: Already closed